{{ define "head" }}

{{ end }}

{{ define "content" }}

<h1>Welcome to the Admin Dashboard</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse mattis vulputate diam, ut lacinia enim condimentum et. Fusce ut leo nibh. Maecenas condimentum, nisl at lobortis elementum, ipsum sem cursus sapien, ut lobortis mauris tellus ut ipsum. Duis ut nisi quam. Fusce at dolor eu diam porttitor euismod vel nec nisl. Praesent posuere vel orci eu efficitur. Sed tincidunt convallis mauris, nec lacinia nisi. Suspendisse aliquet, elit eu pulvinar efficitur, sem justo suscipit libero, sed lacinia dolor massa ac nulla. Ut pellentesque hendrerit felis vel aliquet.</p>


{{ end }}

{{ define "bottom" }}

{{ end }}